.c-text-fragment {
  position: absolute;
  z-index: 1;
  transition: 0.2s;

  &__text {
    border-radius: 5px;
    padding: 1rem;
    font-size: 3rem;
    background: rgba($color: $color-light-1, $alpha: 0.3);
  }
}
