.c-btn {
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 3px;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  transition: 0.2s ease;
  transform: scale(1);
  font-size: inherit;

  &:active {
    transform: scale(1.2);
  }

  &--primary {
    background: $color-light-1;
  }
  &--secondary {
    background: rgba($color: $color-light-1, $alpha: 0.25);
    color: $color-light-1;
  }
}
