.c-menu {
  background: $color-light-1;
  color: $color-dark-1;

  &__inner {
    padding: 4rem 0rem;
    @include flex(null, center, column);
    // animation: fromRight 1s linear;
  }

  &__title {
    padding: 0;
  }

  &__title-container {
    @include flex(center, center, column);
    animation: fromRight 1s linear;
  }
  &__filter-container {
    padding: 2rem 0;
    @include flex(center, null, null);
    animation: fromRight 1s linear;

    button {
      margin: 0.2rem;
      min-width: fit-content;
      @include flex(center, center, null);
      background: rgba($color: $color-dark-1, $alpha: 1);

      svg {
        margin-left: 0.5rem;
      }

      &:nth-child(1) {
        svg {
          color: $color-btn-vege;
        }
      }

      &:nth-child(2) {
        svg {
          color: $color-btn-hungry;
        }
      }

      &:nth-child(3) {
        background: transparent;
        border: 1px dashed $color-dark-1;
        color: $color-dark-1;
      }
      &:nth-child(4) {
        background: transparent;
        color: $color-dark-1;
      }

      &:nth-child(5) {
        svg {
          color: $color-btn-spicy;
        }
      }
      &:nth-child(6) {
        svg {
          color: $color-btn-child;
        }
      }
    }

    @include respond(tablet) {
      flex-direction: column;
    }
  }

  &__pizzas,
  &__gnocchi,
  &__insalata,
  &__antipasto {
    display: flex;
    flex-wrap: wrap;
  }

  &__section-title {
    padding: 4rem 0;
  }

  &__section-icon {
    margin-left: 1rem;
    font-size: 4rem;
  }

  &__item {
    padding: 1rem 2rem;
    @include flex(null, null, column);
    flex-basis: 50%;

    @include respond(tablet) {
      flex-basis: 100%;
    }
  }

  &__item-container {
    @include flex(space-between, center, null);
  }

  &__item-price {
    display: flex;
    margin-left: 1rem;
    background: $color-dark-1;
    color: $color-light-1;
    padding: 0.5rem;
    border-radius: 2px;
  }

  &__item-title {
    font-size: 2rem;
    text-decoration: underline;
  }

  &__items {
    animation: fromRight 1s linear;
  }

  &__info-box svg {
    fill: $color-dark-1;
  }

  &__delivery-box {
    border: 1px dashed $color-dark-1;
    margin-top: 1.5rem;
    display: flex;
    position: relative;
  }

  &__icon-truck {
    position: absolute;
    bottom: 80%;
    left: 90%;
  }

  &__delivery-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    @include box(7rem, 7rem);
    border-radius: 50%;
    background: $color-btn-spicy;
    transition: 0.2s ease;
    @include flex(center, center, null);
    box-shadow: 0px 4px 10px 0 rgba($color-dark-1, 0.1);

    svg {
      width: 5rem;
      fill: $color-light-1;
    }
    &:hover {
      transform: scale(1.1);
    }
    @include respond(mobileL) {
      @include box(6rem, 6rem);
      svg {
        width: 4rem;
      }
    }
  }
  &__icon-arrow-left,
  &__icon-arrow-right {
    opacity: 1;
    animation: opacity 1s backwards 1s;
    color: $color-dark-1;
    svg {
      fill: $color-dark-1;
    }
  }

  &__icon-arrow-right {
    right: 2%;
    @include respond(mobileS) {
      right: 0.5%;
    }
  }
  &__icon-arrow-left {
    left: 2%;
    @include respond(mobileS) {
      left: 0.5%;
    }
  }
}
