.c-menu {
  background: $color-light-1;
  color: $color-dark-1;

  &__inner {
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__decor-icons-star {
    padding: 2rem 0;
    svg {
      fill: $color-dark-1;
    }
  }

  &__decor-star {
    width: 2rem;
    margin: 0 0.5rem;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__filter-container {
    padding: 2rem 0;
    display: flex;
    // justify-content: space-evenly;
    justify-content: center;
    width: 100%;

    button {
      margin: 0.5rem;
      min-width: fit-content;
      background: rgba($color: $color-dark-1, $alpha: 1);

      &:nth-child(3) {
        background: transparent;
        border: 1px dashed #633e68;
        color: #633e68;
      }
    }

    @include respond(mobileL) {
      flex-direction: column;
    }
  }

  &__pizzas,
  &__gnocchi,
  &__insalata,
  &__antipasto {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    // border: 1px solid red;
    padding: 4rem 0;
    border-bottom: 1px solid #fafafa;
  }

  &__item {
    padding: 1rem 2rem;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    @include respond(mobileL) {
      flex-basis: 100%;
    }
  }

  &__item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-title {
    font-size: $font-size-xxl;
  }

  &__item-price {
    display: flex;
    margin-left: 1rem;
    font-size: $font-size-xl;
    // border: 1px solid yellow;
  }

  &__info-box svg {
    fill: $color-dark-1;
  }

  &__delivery-box {
    border: 1px dashed $color-dark-1;
    margin-top: 1.5rem;
    display: flex;
    position: relative;
  }

  &__icon-truck {
    position: absolute;
    bottom: 80%;
    left: 90%;
  }

  &__delivery-btn {
    background: red;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: $color-dark-1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px 0 rgba(32, 33, 36, 0.1);
    z-index: 2;

    svg {
      width: 5rem;
      fill: $color-light-1;
    }
  }
  &__icon-arrow-left,
  &__icon-arrow-right {
    opacity: 1;
    color: $color-dark-1;
    svg {
      fill: $color-dark-1;
    }
  }

  &__icon-arrow-right {
    right: 2%;
  }
  &__icon-arrow-left {
    left: 2%;
  }
}
