.c-hero {
  min-height: 100vh;
  overflow: hidden;
  @include flex(null, center, null);

  &__logo {
    max-width: 60%;
    animation: down 1s linear;
  }

  &__bg-img {
    @include bg-img("../assets/bg-05.jpg", cover, center);
    animation: zoom 7s linear forwards;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  &__inner {
    min-height: 45vh;
    width: 100%;
    background: rgba($color: $color-dark-3, $alpha: 0.5);
    @include flex(center, center, column);
    justify-content: space-evenly;
  }

  &__info-container {
    padding: 2rem;
    display: flex;
    position: relative;
    animation: fromBottom 1s linear;
    @include respond(mobileL) {
      padding: 0;
    }
  }

  &__icon {
    font-size: 3.5rem;
    @include respond(mobileL) {
      font-size: 2rem;
    }
  }

  &__icon-arrow-right {
    right: 2%;
  }
  &__icon-arrow-left {
    left: 2%;
  }

  &__arrow-left-title {
    position: relative;
    svg {
      position: absolute;
      bottom: 90%;
    }
  }
}
