.c-hero {
  min-height: 100vh;

  @include flex(null, center, null);

  &__logo {
    max-width: 60%;
    animation: down 2s linear;
  }

  &__bg-img {
    min-height: 100vh;
  }

  &__inner {
    min-height: 45vh;
    width: 100%;
    background: rgba($color: $color-dark-3, $alpha: 0.5);
    @include flex(center, center, column);
    @include respond(mobileL) {
      min-height: 100vh;
    }
  }

  &__info-container {
    padding: 2rem;
    display: flex;
    position: relative;
    animation: fromBottom 2s linear;

    @include respond(mobileL) {
      flex-direction: column;
    }
  }

  &__icon {
    font-size: 3.2rem;
    @include respond(mobileL) {
      font-size: 3rem;
    }
  }

  &__arrow-link {
    animation: opacityHalf 1s backward;
    @include respond(tablet) {
      animation: opacity 1s backwards;
    }
  }

  &__arrow-left-title {
    position: relative;
    svg {
      position: absolute;
      bottom: 90%;
      @include respond(mobileL) {
        bottom: 75%;
        width: 2.5rem;
      }
    }
  }
}
