.c-delivery {
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 0.2s ease;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0px 4px 10px 0 rgba(32, 33, 36, 0.1);
  @include box(60vh, 60vw);
  background: $color-light-1;
  color: $color-dark-1;
  @include flex(center, center, column);
  border-radius: 3px;
  z-index: 1;

  @include respond(tablet) {
    @include box(100vh, 100vw);
  }

  &__info {
    padding: 1rem;
    display: flex;

    @include respond(mobileL) {
      flex-direction: column;
    }
  }

  &__icon {
    font-size: 3rem;
    @include respond(mobileL) {
      font-size: 3.5rem;
    }
  }

  &__icon-truck {
    width: 12rem;
    fill: $color-btn-spicy;

    &--active {
      animation: fromLeftOpacity 0.8s linear 100ms backwards;
    }
  }

  &__info-box {
    color: $color-dark-1;
  }

  &__close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    @include respond(mobileL) {
      top: 10%;
      right: 10%;
    }
  }

  &--active {
    transform: translate(-50%, -50%) scale(1);
  }
}
