.c-delivery {
  // @include bg-img("../assets/bg-001.jpg", cover, center);

  // background: #0c0c0c;

  background: $color-light-1;
  color: $color-dark-1;

  &__inner {
    display: flex;
    justify-content: center;

    padding: 8rem 2rem;
  }

  &__icon {
    fill: $color-dark-1;
  }

  &__img-container {
    position: relative;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 35rem;
  }

  &__decor-line-01,
  &__decor-line-02 {
    position: absolute;
  }

  &__decor-line-01 {
    bottom: 70%;
    right: 10%;
    transform: rotate(0deg);
  }

  &__decor-line-02 {
    top: 70%;
    left: 10%;
    transform: rotate(0deg);
  }

  &__desc-container {
    // border: 1px solid red;
    display: flex;
    width: 100%;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
