// Reset default browser styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-base-size;
  @include respond(tablet) {
    font-size: 61%;
  }
  @include respond(mobileL) {
    font-size: 50%;
  }

  @include respond(mobileS) {
    font-size: 45%;
  }
}

body {
  font-family: $font-family, sans-serif;
  color: $color-light-1;

  font-size: 1.6rem;
  overflow-x: hidden;
}

.l-container {
  width: 80%;
  margin: 0 auto;

  @include respond(tablet) {
    width: 70%;
  }

  @include respond(mobileS) {
    width: 60%;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: $color-light-1;
}
