// Reset default browser styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-base-size;
  @include respond(tablet) {
    font-size: 61%;
  }
  @include respond(mobileL) {
    font-size: 40%;
  }
  // @include respond(mobileM) {
  //   font-size: 57%;
  // }
  // @include respond(mobileS) {
  //   font-size: 55%;
  // }
}

body {
  font-family: $font-family, sans-serif;
  color: $color-light-1;
  background: $color-dark-1;
  font-size: $font-size-md;
}

.l-container {
  width: 80%;
  margin: 0 auto;
  // border: 1px dashed yellow;

  @include respond(mobileL) {
    width: 70%;
  }
}
