// Reset default browser styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

html {
  font-size: $font-base-size;
}

body {
  font-family: $font-family, sans-serif;
  font-size: $font-size-md;
  color: $color-light-1;
}

.l-layout-container {
  max-width: 80%;
  margin: 0 auto;
}
