@mixin bg-img($url, $size, $pos) {
  background-image: url($url);
  background-size: $size;
  background-repeat: no-repeat;
  background-position: $pos;
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justify-content, $align-items, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin box($height, $width) {
  height: $height;
  width: $width;
}
