// Set Font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

// Colors
$color-dark-1: #333;
$color-dark-3: #0c0c0c;
$color-light-1: #fafafa;
$color-btn-vege: #27ae60;
$color-btn-hungry: #f39c12;
$color-btn-spicy: #c0392b;
$color-btn-child: #8e44ad;

// Typography
$font-family: "Open Sans Condensed";
$font-base-size: 65.5%;
$icon-size: 2rem;

$heading-line-height: 1.2;
$paragraph-line-height: 1.7;
