.c-navigation {
  grid-area: 2/3/-1/4;
  color: $color-light-1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: stretch;

  &__items-container {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10vw;
    cursor: pointer;
  }

  &__active-item {
    position: relative;
    &::after {
      content: "";
      width: 100px;
      position: absolute;
      bottom: 0;
      height: 1px;
      background-image: url("../assets/fragment-01.png");
      animation: width 1000ms linear;
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes width {
  0% {
    width: 0;
  }
  25% {
    width: 25px;
  }
  50% {
    width: 50px;
  }
  75% {
    width: 75px;
  }

  100% {
    width: 100px;
  }
}
