.c-about {
  position: relative;
  height: 100vh;
  display: flex;
  @include bg-img("../assets/bg-01.jpg", cover, center);
  // background: $color-light-1;
  // color: $color-dark-1;

  &__decor-icons-star {
    svg {
      width: 2.5rem;
      margin-right: 2rem;
    }
  }

  &__decor-text-1 {
    top: 20%;
    right: 8%;
    transform: rotate(15deg);
    animation: fromRight 3000ms linear;
  }

  &__decor-text-2 {
    top: 27%;
    left: 62%;
    animation: fromRight 3000ms linear 50ms;
    transform: rotate(-30deg);
  }

  &__decor-text-3 {
    top: 85%;
    left: 65%;
    transform: rotate(15deg);
    animation: fromRight 3000ms linear 100ms;
  }

  &__decor-text-4 {
    top: 85%;
    right: 10%;
    transform: rotate(-20deg);
    animation: fromRight 3000ms linear 150ms;
  }

  &__decor-text-5 {
    top: 82%;
    right: 8%;
    animation: fromRight 3000ms linear 200ms;
    transform: rotate(-25deg);
    display: none;
  }

  &__inner {
    // border: 1px solid red;
    height: 100%;
    // padding: 8rem 2rem;
    display: flex;
    justify-content: center;

    animation: fromLeft 3000ms linear;
    z-index: 1;
  }
  &__desc-container {
    display: flex;
    padding: 2rem 10rem;
    min-width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img-container {
    position: relative;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 50rem;
  }

  &__decor-line-01,
  &__decor-line-02 {
    position: absolute;
    fill: $color-light-1;
  }

  &__decor-line-01 {
    bottom: 40%;
    left: 10%;
  }
  &__decor-line-02 {
    top: 40%;
    right: 10%;
  }

  &__test-svg-1 {
    position: absolute;
    top: 40%;
    width: 5rem;
    margin: 5rem;
    cursor: pointer;
    transition: 0.2s ease;
    transform: scale(1);
    &:active {
      transform: scale(1.025);
    }
  }
}
