.c-about {
  min-height: 90vh;
  display: flex;
  position: relative;

  &__decor-left-bg,
  &__decor-right-bg {
    min-width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__decor-left-bg {
    left: 0;
    @include bg-img("../assets/bg-01.jpg", cover, center);
  }
  &__decor-right-bg {
    border-left: 1px dashed $color-light-1;
    right: 0;
    @include bg-img("../assets/bg-03.jpg", cover, center);
  }

  &__decor-icon-cook {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;

    &--opacity {
      opacity: 1;
    }
  }

  &__decor-icons-star {
    padding-bottom: 7rem;
    svg {
      width: 2.5rem;
      margin-right: 2rem;
    }
  }

  &__decor-text-1 {
    top: 20%;
    right: 8%;
    transform: rotate(15deg);
    animation: fromRight 3000ms linear;
  }

  &__decor-text-2 {
    top: 27%;
    left: 62%;
    animation: fromRight 3000ms linear 50ms;
    transform: rotate(-30deg);
  }

  &__decor-text-3 {
    top: 85%;
    left: 65%;
    transform: rotate(15deg);
    animation: fromRight 3000ms linear 100ms;
  }

  &__decor-text-4 {
    top: 85%;
    right: 10%;
    transform: rotate(-20deg);
    animation: fromRight 3000ms linear 150ms;
  }

  &__decor-text-5 {
    top: 82%;
    right: 8%;
    animation: fromRight 3000ms linear 200ms;
    transform: rotate(-25deg);
    display: none;
  }

  &__inner-title {
    min-height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fromLeft 3000ms linear;
  }

  &__desc {
    padding: 2rem 0;
    font-size: 2rem;
  }
}
