$about-box-shadow: 0px 4px 10px 0 rgba(32, 33, 36, 0.1);
.c-about {
  position: relative;
  min-height: 100vh;
  display: flex;
  background: $color-light-1;
  color: $color-dark-1;

  &__decor-fragment {
    position: absolute;
    top: 35%;
    left: 45%;
    fill: $color-dark-1;
    max-width: 15%;
    animation: scale 2s linear;

    @include respond(laptop) {
      display: none;
    }
  }

  &__inner {
    position: relative;
    @include flex(center, center, column);
    height: 100%;
    animation: fromRight 1s linear;
  }

  &__us,
  &__products {
    display: flex;
    @include respond(laptop) {
      flex-direction: column;
    }
  }

  &__desc-container {
    padding: 2rem 10rem;
    min-width: 50%;
    @include flex(center, center, column);

    @include respond(laptop) {
      padding: 4rem 0;
      width: 100%;
    }
  }

  &__img-container {
    position: relative;
    min-width: 50%;
    @include flex(center, center, null);
    animation: scale 2s linear;

    @include respond(laptop) {
      &:nth-child(1) {
        order: 1;
      }
      padding: 2rem;
    }
  }

  &__img {
    max-width: 45%;
    border-radius: 5px;
    @include respond(laptop) {
      max-width: 50%;
    }
    @include respond(tablet) {
      max-width: 100%;
    }
  }

  &__icon-arrow-right,
  &__icon-arrow-left {
    opacity: 1;
    color: $color-dark-1;
    svg {
      fill: $color-dark-1;
    }
  }

  &__icon-arrow-right {
    right: 2%;
  }
  &__icon-arrow-left {
    left: 2%;
  }

  &__arrow-right-title {
    position: relative;
    svg {
      position: absolute;
      bottom: 90%;
    }
  }

  &__producers-block {
    padding: 2rem 0;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 10rem;
    margin-right: 2rem;
    filter: grayscale(100%);
  }
}
