.c-header {
  min-height: 20vh;
  @include bg-img("../assets/bg-01.jpg", cover, center);
  border-bottom: 1px solid $color-dark-1;
  display: grid;
  grid-template-columns: 10% 20% 40% 20% 10%;
  grid-template-rows: 18vh 8vh;
}
