.c-navigation {
  color: $color-light-1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: stretch;
  z-index: 1;

  &__items-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    animation: right 2000ms linear;
  }
  &__item {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-lg;
    cursor: pointer;
  }

  &__active-item {
    border: 1px dashed $color-dark-1;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;

    // position: relative;
    // &::after {
    //   content: "";
    //   width: 100px;
    //   position: absolute;
    //   bottom: 0;
    //   height: 1px;
    //   background-image: url("../assets/fragment-01.png");
    //   animation: width 1000ms linear;
    // }
  }
}
