.c-arrow-link {
  position: fixed;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s ease-in-out;
  top: 50%;
  transform: translateY(-50%) scale(1);

  svg {
    fill: $color-light-1;
    width: 3.5rem;
  }

  @include respond(laptop) {
    opacity: 1;
    border: 0;
    svg {
      width: 3rem;
    }
  }

  @include respond(mobileL) {
    opacity: 1;
    svg {
      width: 2rem;
    }
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1) translateY(-50%);
  }

  &__left-direction,
  &__right-direction {
    animation: opacity 0.7s backwards;

    @include respond(mobileL) {
      animation: opacity 0.7s backwards 1s;
    }
  }

  &__right-direction {
    right: 2%;
    @include respond(mobileS) {
      right: 0.5%;
    }
  }
  &__left-direction {
    left: 2%;
    @include respond(mobileS) {
      left: 0.5%;
    }
  }
}
